.text{
    color: #FFFF;
    width: 580px;
}
.search{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding: 50px;
    border: 1px solid #473B2D;
    margin-top: 50px;
    border-radius: 15px;
}

.search select{
    padding: 12px;
    border-radius: 8px;
    background-color: #F5F1E8;
}
option{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: 15px;
    font-style: normal;

}
.jumbotrun{
    background: url(../assets/image/Rectangle\ 17\ \(1\).png);
    padding: 115px;
    margin-top: 40px;
}
.search button{
    background-color: #473B2D;
    border-radius: 8px;
    border: #473B2D;
    color: #FFF;
}
#cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.cards{
    background-color: #F5F1E8;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
    transition: transform 0.3s ease , box-shadow 0.3 ease;
    padding: 16px;
    border: 1px solid #473B2D;
    margin-top: 20px;

}
.cards img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;

}
.annoces h2{
    text-align: center;

}

.annoces{
    padding-top: 100px;
}
.prix{
    display: block;
    font-weight: bold;
    color: #103120;
    margin-bottom: 10px;
}

.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.infos a{
    display: flex;
    gap: 5px;
    color:#AEAEAE;
    text-decoration: none;
}