.contact-container {
    background-image: linear-gradient(#00000050, #00000050), url("../assets/image/imgmbaymi.png");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin-top: 100px !important;
    display: flex;
    justify-content: center;
}

.back-contact{
    border-radius: 12px;
    padding: 25px;
    min-width: 500px;
    background-color: white;

}

.contact-container h1 {
    text-align: center;
    color: #103120;
    margin-bottom: 25px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #103120;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}


footer{
    margin-top: 0 !important;
}

