body {
    min-height: 100vh;
}

header {
    background-color: white;
    padding: 15px 40px;
}


nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #103120;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}


.contact-container {
    background-image: linear-gradient(#00000060, #00000060), url("../image/imgmbaymi.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px !important;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.back-contact{
    min-width: 500px;
    border-radius: 12px;
    padding: 25px;
    background-color: rgb(255, 255, 255);

}

.contact-container h1 {
    text-align: center;
    color: #103120;
    margin-bottom: 25px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #103120;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input:focus{
    outline: none;
}


/* button {
    width: 100%;
    padding: 12px;
    background-color: #103120;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
} */

button:hover {
    background-color: #0b2417;
}

footer{
    margin-top: 0px !important;
}