
body {
    min-height: 100vh;
}


nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #103120;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}


.dashboard-container {
    background-image: linear-gradient(#00000060, #00000060), url("../assets/image/imgmbaymi.png");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin-top: 100px;
}

.dashboard-container h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}


.card {
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card h2 {
    color: #103120;
    margin-bottom: 10px;
}

.card p {
    font-size: 22px;
    font-weight: bold;
    color: #103120;
}

footer{
    margin-top: 0 !important;
}