
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../image/imgmbaymi.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #103120;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}


.dashboard-container {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
    margin-top: 200px;
}

.dashboard-container h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}


.card {
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card h2 {
    color: #103120;
    margin-bottom: 10px;
}

.card p {
    font-size: 22px;
    font-weight: bold;
    color: #103120;
}
