.jumbo{
    background: url(../image/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 170px;
}
.jumbo-item{
    width: 450px;
    color: #FFFF;
}
.btns{
    background-color: #473B2D;
    color: #FFFF;
    padding: 10px 18px ;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 17px;
    display: inline-block;
}
.propos{
    display: flex;
    gap: 20px;
}
.apropos{
    padding-top: 100px;
}
.apropos p{
    line-height: 35px;
}
.search button{
    background-color: #473B2D;
    border-radius: 8px;
    border: #473B2D;
    color: #FFF;
}
#cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.cards{
    background-color: #F5F1E8;
    border-radius: 16px;
    transition: all 0.3s ease;
    padding: 16px;
    border: 1px solid #473B2D;
}

.cards:hover{
    transform: translateY(5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.12);
}
.cards img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;

}
.annoces h2{
    text-align: center;

}

.annoces{
    padding-top: 100px;
}
.prix{
    display: block;
    font-weight: bold;
    color: #103120;
    margin-bottom: 10px;
}

.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.infos a{
    display: flex;
    gap: 5px;
    color:#AEAEAE;
    text-decoration: none;
}
